{{page-title "Tulsa Gallery Map"}}

<div class="absolute top-0 w-full z-10">
  <Header />
</div>

<MapboxGl
  @initOptions={{hash hash=true}}
  @mapLoaded={{this.onLoad}}
  class='map-container' as |map|
>
  {{#each this.model as |location|}}
    <map.marker
      @lngLat={{array location.Longitude location.Latitude}}
      as |marker|
    >
      {{!-- <img class="goff-pin" src="/images/pin.png"/> --}}
      Test
      <marker.popup
        class="location-popup"
      >
        <div class="popup-container">
          Test
        </div>
      </marker.popup>
    </map.marker>
  {{/each}}
</MapboxGl>
